*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*fuente importada*/
@import url(../fonts/Roboto/Roboto-Regular.ttf);

.nav-link {
    color: black;
}

.nav-link:hover{
    color: black;
}

.relative-container{
    position: relative;
}

.text-container{
    padding-top: 70px;
}

.rounded-circle {
    max-width: 50%;
    left: 0;
    right: 0;
    bottom: 55%;
    margin: auto;
    position: absolute;
}

@media only screen and (max-width: 991px){
   .rounded-circle {
    max-width: 38%;
    position: static;
   } 

   .text-container{
    padding-top: 10px;
}

/*Acerca de*/

/*Educación*/

@media only screen and (max-width: 991px){
    .education-col{
        justify-content: center;
    }

    .education-text{
        text-align: center;
    }

    .education-img{
        max-width: 30%;
        margin: 10px;
    }
}

.tuki{

    height: 4000px;
    background-color: red;
}