* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*fuente importada*/
@import url(../fonts/Roboto/Roboto-Regular.ttf);

.nav-link {
    color: black;
}

.nav-link:hover{
    color: black;
}

.rounded-circle {
    width: 220px;
    height: 220px;
    
}
.tuki{

    height: 4000px;
    background-color: red;
}